@import url('https://fonts.googleapis.com/css2?family=Inspiration&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Italiana&family=Italianno&family=Knewave&family=Noto+Sans+Javanese:wght@400..700&display=swap');


@keyframes fadeIn{
    0%{
        opacity: 0;
       
    }
    100%{
        opacity: 1;
        
    }
}


:root{
  font-size: 90%;

 
  
  

  
}

#root{
  background-color: white;
  display: grid;
  grid-template-columns: minmax(0, 100%);
  grid-template-rows: 7rem 1fr auto;
  height: 100%;
  width: 100%;
  margin: 0 auto;

  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
  position: relative;
}




body {
  margin: 0;
  
}
.header{
  display: flex;
  flex-direction: column;
 
  z-index: 10000;
  position: relative;
  
}
.Content{
  position: relative;
 
}
.footer{

 
  overflow: hidden;
  z-index: 1000;
  position: relative;
  height: 100%;

}

.activeSection{
  display: block;
  animation: fadeIn 0.8s ease-in-out;
 

}

.notActive{
  display: none;

}




@media (max-width: 768px) {
  
:root{
  font-size: 65%;
 
  

  
}


#root{
  background-color: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 7rem 1fr 48vh;
  height: 100%;
  width: 100%;
  margin: 0 auto;

  overflow-y: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
  position: relative;
}



}

